@model IndexViewModel

<div class="pages">
    @if(Model.PageNumber > 1)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
            asp-route-pageNumber="@(Model.PageNumber - 1)">&#x3c;</a>
    }
    @foreach(int p in Model.Pages)
    {
        if(p == -1)
        {
            <span class="dots">...</span>
        }
        else 
        {
            <a class='@(p == Model.PageCount ? "active" : "")' asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" 
                asp-route-pageNumber="@p">@p</a>
        }
        
            
    }
    @if(Model.NextPage)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" 
            asp-route-pageNumber="@(Model.PageNumber + 1)">&#x3e;</a>
    }
    
</div>