<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/style.min.css" />
    </environment>
    
</head>
<body>
    <div>
        <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Index" asp-route-category="Programming">Programming</a>        
        <a asp-controller="Panel" asp-action="Index">Painel</a>
        @if(User.Identity.IsAuthenticated) 
        {
            <a asp-controller="Auth" asp-action="Logout">Sair</a>
        }
        else
        {
            <a asp-controller="Auth" asp-action="Login">Entrar</a>
        }
        </nav>
    </div>
    
    <div>
        @RenderBody()   
    </div>

    @RenderSection("scripts", false)

</body>
</html>