<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/style.min.css" />
    </environment>
    
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <p class="sidebar__title">Fernando Andrade </p>
            <ul class="sidebar__nav">
                <li>
                    <a class="sidebar__link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a class="sidebar__link" asp-controller="Home" asp-action="Index" asp-route-category="Programming">Programming</a>
                </li>

                <li>
                    <a class="sidebar__link" asp-controller="Home" asp-action="Index" asp-route-category="Study">Study</a> 
                </li>
                        
                @if(User.Identity.IsAuthenticated) 
                {
                    <li>
                        <a class="sidebar__link" asp-controller="Panel" asp-action="Index">Painel</a>
                    </li>
                    <li>
                        <a class="sidebar__link" asp-controller="Auth" asp-action="Logout">Sair</a>
                    </li>
                }
            </ul>

            <div class="copyright">
                &copy; 2021 por Fernando Andrade. Todos direitos reservados.
            </div>
        </div>
    
        <div class="content">
            @RenderBody()   
        </div>

        @RenderSection("scripts", false)
    </div>
</body>
</html>