@model IEnumerable<Post>

@{

}


<div class="panel__container">
    <h2 class="panel__heading">Artigos</h2>     
    
    <div class="panel__admin">
        <a class="panel__btn" asp-controller="Panel" asp-action="Edit">
            <i class="panel__icon gg-math-plus"></i>
            <span>Adicionar artigo</span>
        </a>

        <hr>

        <div class="panel__custom">
            <div>
                <label>Registros por página</label>
                <select>
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>20</option>
                </select>
            </div>
            
            <div>
                <label for="site-search">Pesquisar</label>
                <input type="search">
            </div>
            
        </div>

        <hr>

        <table class="panel__table">
            <thead class="panel__thead">
                <tr>
                    <th>Data</th>
                    <th>Título</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                    <tr>
                        <td>@post.Created.ToString("dd/MM/yyyy")</td>
                        <td>@post.Title</td>
                        <td>@post.Category</td>
                        <td class="panel__action">
                            <a class="panel__btn-action" asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                                <i class="panel__icon gg-edit-markup"></i>
                                <span>Editar</span>
                            </a>            
                            
                            <a class="panel__btn-action" asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                                <i class="panel__icon gg-trash"></i>
                                <span>Remover</span>
                            </a>     
                        </td>
                    </tr>             
                }
            </tbody>
            
        </table>
    </div>
</div>