@model IndexViewModel

<div class="pagination">
    
    @if(Model.PageNumber > 1)
    {
        <a class="pagination__link" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
           asp-route-search="@Model.Search" asp-route-pageNumber="@(Model.PageNumber - 1)">pots mais recentes</a>
    }
    
    <span class="pagination__text">Página @Model.PageNumber de @Model.PageCount</span>

    @if(Model.NextPage)
    {
        <a class="pagination__link" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" 
            asp-route-search="@Model.Search" asp-route-pageNumber="@(Model.PageNumber + 1)">posts mais antigos</a>
    }
</div>