@model IndexViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/style.min.css" />
    </environment>
    
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <form class="sidebar__form" asp-controller="Home" asp-action="Index" method="get">
                <input class="search" type="hidden" name="pageNumber" value="@Model.PageNumber" placeholder="pesquisar artigo">
                <input class="search" type="hidden" name="category" value="@Model.Category" placeholder="pesquisar artigo">
                <input class="sidebar__search" type="text" name="search" placeholder="pesquisar artigo" value="@Model.Search">
                @* //<button class="submit-btn">Search</button> *@
            </form> 
            <p class="sidebar__title">Fernando Andrade </p>
            <ul class="sidebar__nav">
                <li>
                    <a class="sidebar__link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <div class="dropdown">
                    <button class="btn-dropdown">categorias</button>
                    <div class="dropdown__content">
                        <li>
                            <a class="dropdown__category" asp-controller="Home" asp-action="Index" asp-route-category="Programming">Programming</a>
                        </li>

                        <li>
                            <a class="dropdown__category" asp-controller="Home" asp-action="Index" asp-route-category="Study">Study</a>  
                        </li>
                    </div>
                </div> 
            
                <li>
                    <a class="sidebar__link" asp-controller="Home" asp-action="About" >Sobre</a> 
                </li>
                        
                @if(User.Identity.IsAuthenticated) 
                {
                    <li>
                        <a class="sidebar__link" asp-controller="Panel" asp-action="Index">Painel</a>
                    </li>
                    <li>
                        <a class="sidebar__link" asp-controller="Auth" asp-action="Logout">Sair</a>
                    </li>
                }
            </ul>

            <div>
                <ul class="socials">
                    <li>
                        <a href="https://github.com/fernanduandrade" target="_blank" rel="noopener noreferrer" class="sidebar__icon-link">
                            <i class="sidebar__icon fab fa-github"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/fernanduandrade/" target="_blank" rel="noopener noreferrer" class="sidebar__icon-link">
                            <i class="sidebar__icon fab fa-instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/fernanduandrade" target="_blank" rel="noopener noreferrer" class="sidebar__icon-link">
                            <i class="sidebar__icon fab fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a  href="https://www.linkedin.com/in/fernanduandrade/" target="_blank" rel="noopener noreferrer" class="sidebar__icon-link">
                            <i class="sidebar__icon fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="copyright">
                &copy; 2021 por Fernando Andrade. Todos direitos reservados.
            </div>
        </div>
    
        <div class="content">
            @RenderBody()   
        </div>

        @RenderSection("scripts", false)
    </div>
</body>
</html>