@model IndexViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "Esse blogs é apenas um rascunhos para minhas ideias";
    ViewBag.Keywords = "blog programming study tips";
    var basePath = Context.Request.PathBase;
}
@* <h2>Admin principal</h2>
<img src="/content/static/2433830.jpg" alt="laptop" /> *@

<div class="main-img"> 
    <span class="title">Meu blog Lindo</span>
    <form asp-controller="Home" asp-action="Index" method="get">
        <input class="search" type="hidden" name="pageNumber" value="@Model.PageNumber" placeholder="pesquisar artigo">
        <input class="search" type="hidden" name="category" value="@Model.Category" placeholder="pesquisar artigo">
        <input class="search" type="text" name="search" placeholder="pesquisar artigo" value="@Model.Search">
        <button class="submit-btn">Serach</button>
    </form>
    
</div>

<div class="container">
    @foreach (var post in Model.Posts)
    {
        var imgPath = $"{basePath}/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@imgPath"/>
            <span class="title">
                @post.Title
            </span>

        </a>
    }

    <partial name="_BlogPagination" model="Model" />
    
</div>