@model IndexViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "Esse blogs é apenas um rascunhos para minhas ideias";
    ViewBag.Keywords = "blog programming study tips";
    var basePath = Context.Request.PathBase;
}

<div class="post__content">
    @* <form asp-controller="Home" asp-action="Index" method="get">
        <input class="search" type="hidden" name="pageNumber" value="@Model.PageNumber" placeholder="pesquisar artigo">
        <input class="search" type="hidden" name="category" value="@Model.Category" placeholder="pesquisar artigo">
        <input class="search" type="text" name="search" placeholder="pesquisar artigo" value="@Model.Search">
        <button class="submit-btn">Search</button>
    </form> *@
    
    @foreach (var post in Model.Posts)
    {
        <div class="post">
            <a class="post__link" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id" title="@post.Title">
                <h2 class="post__title">@post.Title</h2>
                <p class="post__description">@post.Description</p>
            </a>
            
            <div class="post__date">
                <time>@post.Created.ToString("dd/MM/yyyy")</time>
            </div>
        </div>
        
    }

    <partial name="_BlogPagination" model="Model" />
    
</div>