@model IndexViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "Esse blogs é apenas um rascunhos para minhas ideias";
    ViewBag.Keywords = "blog programming study tips";
    var basePath = Context.Request.PathBase;
}
@* <h2>Admin principal</h2>
<img src="/content/static/2433830.jpg" alt="laptop" /> *@

<div class="main-img"> 
    <span class="title">Meu blog Lindo</span>
</div>

<div class="container">
    @foreach (var post in Model.Posts)
    {
        var imgPath = $"{basePath}/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@imgPath"/>
            <span class="title">
                @post.Title
            </span>

        </a>
    }
    <div>
        @if(Model.PageNumber > 1)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
                asp-route-pageNumber="@(Model.PageNumber - 1)">Previous Page</a>
        }
        @if(Model.NextPage)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" 
                asp-route-pageNumber="@(Model.PageNumber + 1)">Next Page</a>
        }
        
    </div>
</div>