@model Post

@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", " ")} {Model.Category}";
    var basePath = Context.Request.PathBase;

}


<div class="post__section">
    <div class="heading__post">
        <form>
            <button class="pagination__link mt-sm" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category">&#8592; voltar</button>
        </form>
        
        @{
            DateTime today = DateTime.Now;
            TimeSpan daysAgo = Model.Created.Subtract(today);
        }

        @if(daysAgo.Days == 0) {
            <div class="ml-sm">
                <p>hoje em <span class="post_category">@Model.Category.ToLower()</span></p> 
            </div>
        }
        else
        {
            <div class="ml-sm"> 
                <p><time class="post__date">@daysAgo.Days</time> dias atrás em <div class="post_category">@Model.Category</div></p> 
            </div>
        }
    </div>
    
    
    
    @* <div class=""> 
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var imgPath = $"{basePath}/Image/{Model.Image}";
            <img src="@imgPath"/>
            
        }
    </div> *@

    <div class="post__body">
        <h1 class="heading__title mb-sm">@Model.Title</h1>
        @Html.Raw(@Model.Body)
    </div>
    <div class="comment-section">
        @{
            await Html.RenderPartialAsync("_MainComment", new CommentViewModel {PostId = Model.Id, MainCommentId = 0});
        }
        @foreach (var comment in Model.MainComments)
        {
            <p>
              @comment.Message --- @comment.Created  
            </p>
            <div>
                <h4>Sub Commments</h4>
                @{
                    await Html.RenderPartialAsync("_MainComment", new CommentViewModel {PostId = Model.Id, MainCommentId = comment.Id});
                }

                @foreach (var subcomment in comment.SubComments)
                {
                    <p>
                        @subcomment.Message --- @subcomment.Created  
                    </p>
                }
            </div>

        }
    </div>
</div>